main {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#button-area {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 10% soild navy;

  border-radius: 1em;
  margin: 3%;
  padding: 1%;
}
#button-area button {
  background-color: slategrey;
  border-radius: 0.5em;
  text-align: center;
}
.result-area {
  display: flex;
}

.result-area form button {
  border-radius: 1em;
}

#start-quiz {
  justify-content: center;
  align-items: center;
}

.heading-area {
  background-image: linear-gradient(slategrey, white);
  border-radius: 1em;
  text-align: center;
  padding-top: 1%;
}

.sub-heading-text {
  font-size: 24pt;
  line-height: 1.2;
  margin: 4%;
}

button {
  justify-content: space-between;
  margin-top: 4%;
  font-size: 40pt;
  text-align: center;
}

input {
  align-content: center;
}
